
    *{
        margin: 0;
        padding: 0;
        
        box-sizing: border-box;
    }

    html, body{
        font-size: 62.5%;
        font-family: 'Courier New', Courier, monospace;
        height: 100%;
    }

    #root{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    main{
        background-color: rgb(17, 16, 16);

        width: 40%;
        height: 100%;

        color: aliceblue;
    }

    h1{
        font-size: 5rem;
    }

    .header{
        border: .2rem solid whitesmoke;
        border-left: 0;
        border-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 1.5rem;
    }

    input{
        width: 70%;
        font-size: 2.5rem;
        padding: 1.5rem 1rem;
        background-color: rgb(17, 16, 16);
        color: aliceblue;
        border: none;
    }

    input::placeholder{
        color: whitesmoke;
    }

    #add{    
        font-size: 4rem;
        width: 5rem;
        height: 5rem;
        border-radius: 30%;
        cursor: pointer;
    }

    #add:hover{
        background-color: lightgray

    }

    .botoes{
        font-size: 1rem;
        border-radius: 1rem;

        margin-left: 1rem;
    }

    .material-symbols-outlined {
        font-size: 4rem;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }

    /* (Chrome, Safari, versões mais recentes do Opera) */
    .content::-webkit-scrollbar{
        display: none;
    }

    .content{
        height: 58rem;
        padding: 1rem;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    article{
        padding: 1rem;
        border-radius: 1rem;
        font-size: 3rem;
        background-color: aliceblue;
        color: black;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    dialog{
        top: 30%;
        left: 45%;

        padding: 2rem;

        border: 0 solid black;
        border-radius: 10%;
    }

    dialog::backdrop{
        background-color: black;
        opacity: 0.6;
    }

    dialog button{
        font-size: 2rem;
        padding: 1rem;
    }